
<h1>Enter the item you want to purchase!</h1>

<form action='/checkout' method="POST">

  <p>
    <input type="text" name="item" >
  </p>
  <br>
  <input type="submit" name="submit" value="submit">
</form>